:root {
  --mainBlue: #062b63;
  --lightBlue: #28a4c4;
  --mainWhite: #f8f8f8;
  --mainDark: #01080a;
  --mainYellow: #dbe918;
}
body {
  font-family: "Oswald", sans-serif !important;
  background-color: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}

.text-title {
  font-family: "Permanent Marker", cursive;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.text-blue {
  color: var(--mainBlue);
}

.text-bright {
  color: var(--lightBlue);
}

.btn-black {
  background: transparent;
  text-transform: capitalize;
  font-size: 0.8rem !important;
  color: var(--mainDark);
  border-radius: 0% !important;
  border: 0.1rem var(--mainDark) solid !important;
}

.btn-black:hover {
  color: white !important;
  background: var(--mainDark) !important;
}

.cart-icon {
  cursor: pointer;
  color: var(--mainYellow);
  font-size: 1.2rem;
}
